@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(192, 186, 186);
}

.scrollbar::-webkit-scrollbar-track {
  background: rgb(148, 147, 147);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
